
header{
    /* position: fixed; */
    top:0;
    width: 100%;
    background-color: #005500;
    /* background-color: brown; */
    display: table;
    border-bottom: solid 1px brown;
    z-index: 1;
}

/* body{ */
    /* height: 1000p\x; */
/* } */

ul{
    list-style-type: none;
    vertical-align: middle;
}

li{
    padding-bottom: 20px;
}

.icon{
    border: 3px solid grey;
    border-radius: 50%;
    width: 5%;
    margin: 10px 15px;
    /* text-align: center; */
    /* box-shadow: ; */
}

.tytle{
    /* text-align: top; */
    color: white;
    font-size:30px;
    margin-right: 30px;
    /* margin:auto 0; */
    /* display: table-cell; */
    /* vertical-align: text-top; */
}

/* .menu{ */
    /* vertical-align: bottom; */
/* } */

.compa{
    color: white;
}

.header_bt{
    /* font-size: 20px; */
    /* padding: 5px 10px; */
    text-decoration: none;
    color: white;
    /* border-right: solid 1px white;
    border-left: solid 1px white; */
    /* border-radius: 5px; */
    padding: 0px 10px;
}

.header_bt:hover{
    /* font-size: 20px; */
    /* background-color: white; */
    /* text-decoration: none; */
    color: #C0C0C0;
    /* border: solid 1px white; */
    /* border-radius: 5px; */
}

/* .top{
    position: relative;
} */

.main{
    /* color: white; */
    padding: 50px 0;
    width: 100%;
    background-color: #EEEEEE;
    /* height:5000px; */
    /* font-family: "Yu Mincho", "游明朝"; */
    /* font-family: "Hiragino Maru Gothic ProN W4", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic Pro W4", "ヒラギノ丸ゴ Pro W4"; */
}

.page_top a{
    text-decoration: none;
    /* position: absolute; */
    display: inline-block;
    /* text-align: center; */
    color: #005500;
    border: solid 1px #005500;
    border-radius: 5px;
    /* background-color: #005500; */
    padding: 10px;
}

.page_top a:hover{
    color: white;
    background-color: #005500;
    border: solid 1px white;
}

.page_top{
    text-align: center;
}

.thank{
    position: absolute;
    top: 480px;
    left: 250px;
    /* margin: 0px auto; */
    font-size: 60px;
    font-family: "Yu Mincho", "游明朝";
    color: cornsilk;
    animation: slideIn 4s forwards;
}

@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

.box{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.header_img{
    /* background-image: url(.\..\img\IMG_E13800.JPG); */
    /* z-index: -1; */
    width:100%;
    border-bottom: solid 10px grey;
    /* margin-right: 100px; */
}

.block{
    /* text-align: left; */
    /* display: flex; */
    margin: 50px 100px;
    border-right: #333333 4px solid;
    border-bottom: #333333 4px solid;
    /* border-left: brown 4px solid;
    border-top: brown 4px solid; */
    /* border-radius: 4px; */
    /* margin-top: 100px; */
    /* border: solid 10px gray; */
    /* height: 400px; */
    height: auto;
    /* width: 100%; */
    /* border: white solid 20px; */
}

.block_in{
    border: white solid 15px;
    display: flex;
    /* width: 100%; */
    /* height: 385px; */
    height: auto;
}

.pic{
    /* text-align: left; */
    /* height: 800px; */
    width: 50%;
    /* border-left: 10px solid #EEEEEE;
    border-right: 10px solid #EEEEEE; */
}

.pic_img{
    width: 100%;
    /* height: 385px; */
    height: 100%;
    /* height: 0px; */
}

.tex{
    /* float: right; */
    /* top:0; */
    width: 50%;
    height: auto;
    /* border-left: 10px solid #EEEEEE;
    border-right: 10px solid #EEEEEE; */
    /* height: 440px; */
    /* 作業用↓ */
    background-color: white;
}

.tex_tytle{
    color: white;
    width: 100%;
    height: 80px;
    background-color: #005500;
    /* background-color: brown; */ 
    text-align: center;
    display: table;
}

.block_title{
    display: table-cell;
    vertical-align: middle;
    font-size: 30px;
}

.profiel{
    display: flex;
    color: black;
}

.item{
    font-size: 20px;
    padding: 10px 30px;
}